.main {
  width: 730px;
  margin: 20px auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section__game {
  padding: 0 10px 10px 10px;
  border-radius: 8px;
}

button {
  height: 100px;
  width: 100px;
  font-size: 40px;
  color: black;
  font-weight: bold;
}

button:hover {
  cursor: pointer;
  background-color: #bbb;
}

.section2 {
  width: 250px;
  height: 400px;
  padding: 0 20px;
}

.statistics {
  height: 105px;
  border-radius: 8px;
  padding: 8px 20px;
  box-sizing: border-box;
}

.img__card {
    width: 80%;
}

.boton-restart {
    width: 100px!important;
    height: 40px!important;
    border-radius: 20px;
    transition: all 0.25s;
}